#Intro ðŸ““ ðŸ“ƒ #5
##Welcome to the FUNCTIONS section! ðŸ›¸ ðŸ¥

---
## Built-in functions

---
###Exercise 118
The variable x:


```
x = -1.5
```

and the following expression are given:


```
expression = 'x**2 + x'
```

Using the appropriate function, calculate the value of this expression and print the result to the console.



Tip: Use the `eval()` function.



Expected result:


```
0.75
```
***solution:***

---
### Exercise 119
The following variables are given:


```
var1 = 'Python'
var2 = ('Python')
var3 = ('Python',)
var4 = ['Python']
var5 = {'Python'}
```

Using the appropriate function, check if the variables are instances of tuple class. Print the result to the console as shown below.



Tip: Use the `isinstance()` built-in function.



Expected result:


```
False
False
True
False
False
```

***solution:***

---
###Exercise 120
The following list is given:


```
characters = ['k', 'b', 'c', 'j', 'z', 'w']
```

Using the built-in functions, return the first and the last letter in alphabetical order from this list and print the result to the console as shown below.



Tip: Use the `min()` and `max()` functions.

Expected result:


```
First: b
Last: z
```
***solution:***

---
### Exercise 121
Two tuples are given:


```
ticker = ('TEN', 'PLW', 'CDR')
full_name = ('Ten Square Games', 'Playway', 'CD Projekt')
```

Using the appropriate built-in function, create a list consisting of tuples (ticker, full_name) and print the result to the console as shown below.



Tip: Use the `zip() `function.



Expected result:


```
[('TEN', 'Ten Square Games'), ('PLW', 'Playway'), ('CDR', 'CD Projekt')]
```
***solution:***

---
### Exercise 122
Using the appropriate built-in function, verify if all elements of the following tuple return the logical value True:


```
items = (' ', '0', 0.1, True)
```

Print the result to the console.



Expected result:


```
True
```
***solution:***

---
###Exercise 123
Using the appropriate built-in function, verify if any element of the following tuple returns the boolean value True:


```
items = ('', 0.0, 0, False)
```

Print the result to the console.



Expected result:


```
False
```

---
###Exercise 124
Count the number of ones in the binary representation of number:


```
number = 234
```

Print the result to the console.



Tip: Use the `bin()` built-in function.



Expected result:


`
5
`

---
## Defining your own functions

---
### Exercise 125
Implement a function called `maximum()` that returns the maximum of two numbers. Use conditional statement.



Example:

```
[IN]: maximum(4, 2)
[OUT]: 4


[IN]: maximum(-4, 2)
[OUT]: 2
```

Note! You only need to define the function.

***solution:***

---
###Exercise 126
Implement a function called `maximum()` that returns the maximum of three numbers. Use conditional statement.



Example:


```
[IN]: maximum(4, 2, 1)
[OUT]: 4


[IN]: maximum(-3, 2, 5)
[OUT]: 5
```

Note! You only need to define the function.

***solution:***

---
### Exercise 127
Implement a function called `multi()`, which accepts an iterable object (list, tuple) as an argument and returns the product of all elements of this iterable object.



Example:


```
[IN]: multi((-4, 6, 2))
[OUT]: -48


[IN]: multi([4, 2, -5])
[OUT]: -40
```

Note! You only need to define the function.

***solution:***

---
### Exercise 128
Implement a function `map_longest()` that accepts the list of words and return the length of the longest word in this list.



Example:


```
[IN]: map_longest(['python', 'sql'])
[OUT]: 6


[IN]: map_longest(['java', 'sql', 'r'])
[OUT]: 4
```

Note! You only need to define the function. 

***solution:***

---
### Exercise 129
Implement a function called `filter_ge_6()` that takes a list of words and returns list of words with the length greater than or equal to 6 characters.



Example:


```
[IN]: filter_ge_6(['programming', 'python', 'java', 'sql'])
[OUT]: ['programming', 'python']


[IN]: filter_ge_6(['java', 'sql'])
[OUT]: []
```

Note! You only need to define the function. 

***solution:***

---
### Exercise 130
Implement a function `called factorial()` that calculates the factorial for a given number.



Example:


```
[IN]: factorial(6)
[OUT]: 720


[IN]: factorial(10)
[OUT]: 3628800
```

Note! You only need to define the function.

***solution:***

---
### Exercise 131
Implement a function `count_str()`, which returns the number of str objects in an iterable object (list, tuple, set).



Example:


```
[IN]: count_str(['p', 2, 4.3, None])
[OUT]: 1


[IN]: count_str({'p', 2, 4.3, True, 'True', None})
[OUT]: 2
```

Note! You only need to define the function.

***solution:***

---
### Exercise 132
Implement a function `count_str()`, which returns the number of str objects with a length more than 2 characters from an iterable object (list, tuple, set).



Example:


```
[IN]: count_str([1, '#hello', '', 'python', 'go'])
[OUT]: 2


[IN]: count_str([1, 2, 3, 'python'])
[OUT]: 1
```

Note! You only need to define the function.

***solution:***

---
### Exercise 133
Implement a function `remove_duplicates()` that removes duplicates from the list (the order of the items in the list does not have to be kept).



Example:
```
[IN]: remove_duplicates([1, 5, 3, 2, 2, 4, 2, 4])
[OUT]: [1, 2, 3, 4, 5]


[IN]: remove_duplicates([1, 1, 1, 1])
[OUT]: [1]
```

Note! You only need to define the function. 

***solution:***

---
### Exercise 134
Implement a function `is_distinct()` to check if the list contains unique values.



Example:


```
[IN]: is_distinct([1, 2, 3])
[OUT]: True


[IN]: is_distinct([1, 2, 3, 3])
[OUT]: False
```

Note! You only need to define the function.

***solution:***

---
### Exercise 135
The following function is defined:


```
def function(idx, l=[]):
    for i in range(idx):
        l.append(i ** 3)
    print(l)
```

Call the function three times as follows:


```
function(3)
function(5, ['a', 'b', 'c'])
function(6)
```

Analyze the results!



Expected result:


```
[0, 1, 8]
['a', 'b', 'c', 0, 1, 8, 27, 64]
[0, 1, 8, 0, 1, 8, 27, 64, 125]
```
***solution:***

---
### Exercise 136
The following function is given:


```
def function(*args, **kwargs):
    print(args, kwargs)
```

Call the function in the order given:


```
function(3, 4)
function(x=3, y=4)
function(1, 2, x=3, y=4)
```

Analyze the result!



Expected result:


```
(3, 4) {}
() {'x': 3, 'y': 4}
(1, 2) {'x': 3, 'y': 4}
```

---
### Exercise 137
Implement the function `is_palindrome()`, which takes as an argument str object and checks if this object is a palindrome (expression that sounds the same from left to right and from right to left).

If so, the function should return True, on the contrary False.



Example:


```
[IN]: is_palindrome('level')
[OUT]: True


[IN]: is_palindrome('python')
[OUT]: False
```

Note! You only need to define the function.

***solution:***

---
## Lambda expression

---
## Exercise 138
The following list of words is given:


```
stocks = ['playway', 'boombit', 'cd projekt']
```

Using the map() function and the lambda expression, transform the given list into a list containing the lengths of each word and print it to the console.



Expected result:


```
[7, 7, 10]
```
***solution:***

---
### Exercise 139
Implement the `sort_list()` function that sorts a list of two-element tuple objects according to the second element of the tuple.



Example:


```
[IN]: sort_list([(1, 3), (4, 1), (4, 2), (0, 7)])
[OUT]: [(4, 1), (4, 2), (1, 3), (0, 7)]


[IN]: sort_list([('a', 'b'), ('g', 'a'), ('z', 'd')])
[OUT]: [('g', 'a'), ('a', 'b'), ('z', 'd')]
```

Tip: Use the `sorted()` function.



Note! You only need to define the function.

***solution:***

---
### Exercise 140
The `func_1()` function is defined below:


```
def func_1(x, y):
    return x + y + 2
```

Using the lambda expression, define an analogous function and assign it to the variable func_2.

***solution:***

---
### Exercise 141
The following list is given:


```
items = [(3, 4), (2, 5), (1, 4), (6, 1)]
```

Sort the list by the growing sum of squares of numbers in each tuple. Use the sort() method and the lambda expression and print sorted list to the console.



Expected result:


```
[(1, 4), (3, 4), (2, 5), (6, 1)]
```
***solution:***

---
### Exercise 142
Sort the given list of dictionaries by price key:


```
stocks = [
    {'index': 'mWIG40', 'name': 'TEN', 'price': 304},
    {'index': 'mWIG40', 'name': 'PLW', 'price': 309},
    {'index': 'sWIG80', 'name': 'BBT', 'price': 22}
]
```

Print sorted list to the console.

***solution:***

---
### Exercise 143
The following list is given:


```
stocks = [
    {'index': 'mWIG40', 'name': 'TEN', 'price': 304},
    {'index': 'mWIG40', 'name': 'PLW', 'price': 309},
    {'index': 'sWIG80', 'name': 'BBT', 'price': 22}
]
```

Extract companies from the `'mWIG40'` index and print the result to the console.



Formatted result:


```
[{'index': 'mWIG40', 'name': 'TEN', 'price': 304},
 {'index': 'mWIG40', 'name': 'PLW', 'price': 309}]
```

Expected result:


```
[{'index': 'mWIG40', 'name': 'TEN', 'price': 304}, {'index': 'mWIG40', 'name': 'PLW', 'price': 309}]
```
***solution:***

---
### Exercise 144
The following list is given:


```
stocks = [
    {'index': 'mWIG40', 'name': 'TEN', 'price': 304},
    {'index': 'mWIG40', 'name': 'PLW', 'price': 309},
    {'index': 'sWIG80', 'name': 'BBT', 'price': 22}
]
```

Convert the list to a list of boolean values (True, False). True if the company belongs to the `'mWIG40'` index, False on the contrary and print the result to the console.



Tip: Use the `map()` function.



Expected result:


```
[True, True, False]
```
***solution:***

---
### Exercise 145
The following list is given:


```
items = ['P-1', 'R-2', 'D-4', 'F-6']
```

Using the `map() `function and the lambda expression, get rid of the `'-'` (dash) from each element and print items list on the console.



Expected result:


```
['P1', 'R2', 'D4', 'F6']
```
***solution:***

---
### Exercise 146
Two lists are given:


```
num1 = [4, 2, 6, 2, 11]
num2 = [5, 2, 3, 3, 9]
```

Using the `map()` function and lambda expression, create a list containing the remainders of dividing the first list by the second (elementwise).





Expected result:


```
[4, 0, 0, 2, 2]
```
***solution:***

---
## Generators

--- 
### Exercise 147
Implement a generator named `file_gen()`, which selects only those names of files with the `'.txt'` extension from the list.



Example:


```
[IN]: fnames = ['data1.txt', 'data2.txt', 'data3.txt', 'view.jpg']
[IN]: list(file_gen(fnames))
[OUT]: ['data1.txt', 'data2.txt', 'data3.txt']
```

Note! All you have to do is define a generator. 

***solution:***

---
### Exercise 148
Implement a generator called `enum()` that works just like the `enumerate()` built-in function.

For simplicity, the function gets an iterable object and returns a tuple (index, element).



Example:


```
[IN]: list(enum(['TEN', 'CDR', 'BBT']))
[OUT]: [(0, 'TEN'), (1, 'CDR'), (2, 'BBT')]
```

Note! All you have to do is define a generator.

***solution:***

---
### Exercise 149
Implement a generator named `dayname()` that accepts the index of the element from the following list:


```
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
```

and allows us to iterate over 3 days (previous day, present day, next day).



Example:


```
[IN]:

for pair in dayname(0):
    print(pair)


[OUT]:

Sun
Mon
Tue
```

Note! All you have to do is define a generator. 

***solution:***