# Intro ðŸ“ƒ #3



## ðŸš§ ðŸš§ ðŸš§ ðŸš§

## Welcome to the PROGRAM FLOW CONTROL section! ðŸŽ› 
## âœ ðŸ“”

---
## if statement

---
###Exercise 78
The following filename is given:


`filename = '01012020_sales.xlsx'`


Check if the file has the` 'xlsx'` extension. Print to the console `'YES'` if true, `'NO'` if false.

Expected result:

`YES`

***solution:***

In [1]:
filename = '01012020_sales.xlsx'
if '.xlsx' in filename:
  print('YES')
else:
  print('NO')

YES

---
###Exercise 79
The following code is given:


```
code = 'DSVNDOICSN'
```

Check if the code variable has only uppercase letters. If so, print `'YES'` to the console.



Expected result:


```
YES
```
***solution:***

In [7]:
code = 'DSVNDOICSN'
if code.isupper():
  print('YES')
else:
  print('NO')

YES

---
### Exercise 80
The following variable is given:


```
number = 1.0
```

Test whether the variable is an instance of the built-in class int. Print `'YES'` if true, `'NO'` if false.


Expected result:


`NO`

***solution:***

In [10]:
number = 1.0
if isinstance(number, int):
  print('YES')
else:
  print('NO')

NO

---
###Exercise 81
The following password is given:


```
password = 'cskdnjcasa#!'
```

Check if the password is at least 11 characters long. If so, print `'Password correct'`, otherwise `'Password too short'`.



Expected result:


```
Password correct
```

***solution:***

In [12]:
password = 'cskdnjcasa#!'

if len(password) >= 11 :
  print('Password correct')
else:
  print('Password too short')

Password correct

---
###Exercise 82
The following password is given:



`password = 'cskdnjcasa#!'`


Check if the password has at least 11 characters and contains the special character `'!'`.

If so, print `'Password correct'`, otherwise `'Password incorrect'`.



Expected result:

`Password correct`

***solution:***

In [13]:
password = 'cskdnjcasa#!'

if len(password) >= 11 and '!' in password:
  print('Password correct')
else:
  print('Password too short')

Password correct

---
###Exercise 83
The following list is given:


```
project_ids = ['02134', '24253']

```
Check if the following project id:


```
project_id = '02135'
```

is in the project_ids list. If not, add this project_id to the list and print this list to the console.

Expected result:


```
['02134', '24253', '02135']
```

***solution:***

In [15]:
project_ids = ['02134', '24253']

project_id = '02135'

if project_id not in project_ids:
  project_ids.append(project_id)

print(project_ids)

['02134', '24253', '02135']

---
### Exercise 84
The following dictionary is given:


```
project_ids = {
    '01': 'open', 
    '02': 'new',
    '03': 'in progress',
    '04': 'completed'
}
```

Using the conditional statement, check if the project status with `id = '02'` is set to `'new'`. If so, change its status to `'open'` and print the dictionary to the console.



Expected result:


```
{'01': 'open', '02': 'open', '03': 'in progress', '04': 'completed'}
```
***solution:***

In [16]:
project_ids = {
    '01': 'open', 
    '02': 'new',
    '03': 'in progress',
    '04': 'completed'
}

id = '02'

if project_ids[id] is 'new':
  project_ids[id] = 'open'

print(project_ids)

{'01': 'open', '02': 'open', '03': 'in progress', '04': 'completed'}

---
###Exercise 85
Write a program that checks if the given item:


```
item = '001'
```

is in the list:


```
items = ['001', '000', '003', '005', '006']
```

If so, remove this item from the list and print this list to the console.



Expected result:


```
['000', '003', '005', '006']
```

***solution:***

In [17]:
item = '001'
items = ['001', '000', '003', '005', '006']

if item in items:
  items.remove(item)

  print(items)

['000', '003', '005', '006']

---
## for loop

---
###Exercise 86
Write a program that finds all two-digit numbers divisible by 11 (use a for loop). Print the result to the console as comma-separated values as shown below.

Expected result:

`11,22,33,44,55,66,77,88,99`

***solution:***

In [25]:
result = []
for num in range(10,100):
  if num % 11 == 0:
     result.append(str(num))
print(','.join(result))

11,22,33,44,55,66,77,88,99

---
###Exercise 87
Write a program that finds all two-digit numbers divisible by 11 and indivisible by 3 (use a for loop). Print the result to the console as comma-separated values as shown below.



Expected result:



`11,22,44,55,77,88`

***solution:***

In [27]:
result = []
for num in range(10,100):
  if num % 11 == 0 and num % 3 != 0:
    result.append(str(num))
print(','.join(result))

11,22,44,55,77,88

---
### Exercise 88
The following list of numbers is given:



`items = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]`


Write a program that removes odd numbers and returns the remaining ones. Print the result to the console.

Expected results:


`[4, 6, 10, 24]`

***solution:***

In [74]:

items = [1, 3, 4, 5, 6, 9, 10, 17, 23, 24]
odd = []
for item in items:
  if item % 2 == 0:
    odd.append(item)
print(odd)

[4, 6, 10, 24]

---
### Exercise 89
The following list is given:



`items = [1, 5, 3, 2, 2, 4, 2, 4]`


Write a program that removes duplicates from the list (the order must be kept) and print the list to the console.



Expected result:



`[1, 5, 3, 2, 4]`

***solution:***

In [84]:
items = [1, 5, 3, 2, 2, 4, 2, 4]
result = []

for item in items:
  if not item in result:
    result.append(item)

print(result)

[1, 5, 3, 2, 4]

----
### Exercise 90
The following text is given:



`text = 'Python is a very popular programming language'`


Write a program which extracts exactly the first four words as a list. Standardize each word, i.e. replace uppercase letters with lowercase. Present the result in a list and print to the console as shown below.



Expected result:



`['python', 'is', 'a', 'very']`

***solution:***

In [91]:
text = 'Python is a very popular programming language'
result = []
num = 4

words = text.split(' ')

for id, word in enumerate(words):
  if id < 4:
    result.append(word.lower())
print(result)

['python', 'is', 'a', 'very']

---
###Exercise 91
Write a program that returns a list of values above the given threshold = 0.5 from the following list:



`probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]`


Expected result:



`[0.91, 0.55, 0.76]`

***solution:***

In [92]:
probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]
result = []

for threshold in probabilities:
  if threshold >= 0.5:
    result.append(threshold)
print(result)

[0.91, 0.55, 0.76]

---
###Exercise 92
Consider the problem of binary classification in machine learning. The machine learning model returns the probability of belonging to the class. If it's less than 0.5, the sample is assigned to class 0, otherwise to class 1.



A list of probabilities from the machine learning model is given:



`probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]`


Write a program that assigns class 0 for values less than 0.5 and 1 for values greater than or equal to 0.5. Print the result to the console as shown below.



Expected result:



`[0, 1, 0, 1, 1, 0]`

***solution:***

In [93]:
probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]
result = [] 
for item in probabilities:
  if item >= 0.5:
    result.append(1)
  else:
    result.append(0)

print(result)

[0, 1, 0, 1, 1, 0]

---
### Exercise 93
Write a program that creates a histogram as a dictionary of the following values:



`items = ['x', 'y', 'z', 'y', 'x', 'y', 'y', 'z', 'x']`


In response print histogram to the console.



Expected result:



`{'x': 3, 'y': 4, 'z': 2}`

***solution:***

In [100]:
items = ['x', 'y', 'z', 'y', 'x', 'y', 'y', 'z', 'x']
result = {}

for item in items:
  result[item] = items.count(item)

print(result)

{'x': 3, 'y': 4, 'z': 2}

---
###Exercise 94
The following text is given:


```
text = """Python is powerful... and fast
plays well with others
runs everywhere
is friendly & easy to learn
is Open
These are some of the reasons people who use Python would rather not use anything else"""
```

Create a list of words from the given text. Then standardize this text (change uppercase letters to lowercase, remove punctuation marks). Extract words longer than six characters and print the result to the console.



Expected result:


```
['powerful', 'everywhere', 'friendly', 'reasons', 'anything']
```

***solution:***

In [136]:

text = """Python is powerful... and fast
plays well with others
runs everywhere
is friendly & easy to learn
is Open
These are some of the reasons people who use Python would rather not use anything else"""

result = []
words = text.split()

words = [word.lower() for word in words]
words = [word.replace('.','').replace(',','') for word in words]
words = [word for word in words if len(word) > 6]  
words

['powerful', 'everywhere', 'friendly', 'reasons', 'anything']

---
###Exercise 95
The list of stock indexes is given:


```
indexes = [
    'BOVESPA',
    'DOW JONES COMP',
    'DOW JONES INDU',
    'DOW JONES TRANS',
    'DOW JONES UTIL',
    'IPC',
    'IPSA',
    'MERVAL',
    'NASDAQ COMP',
    'NASDAQ100',
    'S&P500',
    'S&P/TSX COMP',
]
```

Iterate through the indexes list and print to the console only those indexes containing 'DOW' or 'S&P'.



Expected result:


```
DOW JONES COMP
DOW JONES INDU
DOW JONES TRANS
DOW JONES UTIL
S&P500
S&P/TSX COMP
```
***solution:***

In [149]:
indexes = [
    'BOVESPA',
    'DOW JONES COMP',
    'DOW JONES INDU',
    'DOW JONES TRANS',
    'DOW JONES UTIL',
    'IPC',
    'IPSA',
    'MERVAL',
    'NASDAQ COMP',
    'NASDAQ100',
    'S&P500',
    'S&P/TSX COMP',
]

for idx in indexes:
  if 'S&P' in idx or 'DOW' in idx:
    print(idx)

DOW JONES COMP
DOW JONES INDU
DOW JONES TRANS
DOW JONES UTIL
S&P500
S&P/TSX COMP

---
###Exercise 96
A dictionary of companies from the WIG.GAMES index is given. The key is the 3-letter company ticker and value - close price:


```
gaming = {
    '11B': 362.5,
    'CDR': 297.0,
    'CIG': 0.85,
    'PLW': 318.0,
    'TEN': 300.0
}
```

Iterate through this dictionary and print the tickers of those companies where closing price is greater than 100.00 PLN.



Expected result:


```
11B
CDR
PLW
TEN
```

***solution:***

In [151]:
gaming = {
    '11B': 362.5,
    'CDR': 297.0,
    'CIG': 0.85,
    'PLW': 318.0,
    'TEN': 300.0
}

for keys in gaming:
  if gaming[keys] > 100.00:
    print(keys)

11B
CDR
PLW
TEN

---
###Exercise 97
A list of names entered by users into the system is given below (without validation process):


```
names = ['Jack', 'Leon', 'Alice', '32-3c', 'Bob']
```

Iterate through the names list and check if each name is correct (contains only letters). If so, print to the console following message: f'Hello {name}!' otherwise do nothing.



Tip: Use the str.isalpha() method.

Expected result:


```
Hello Jack!
Hello Leon!
Hello Alice!
Hello Bob!
```
***solution:***

In [154]:
names = ['Jack', 'Leon', 'Alice', '32-3c', 'Bob']

for name in names:
  if name.isalpha():
    print(f'Hello {name}!')

Hello Jack
Hello Leon
Hello Alice
Hello Bob

---
## break statement

---
### Exercise 98
Write a program that compares two lists and returns True if the lists contain at least one of the same element. Otherwise, it will return False.

Use break statement in the solution and print result to the console.

Lists:


```
list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]
```

Expected result:


```
True
```

***solution:***

In [155]:
list1 = [1, 2, 0]
list2 = [4, 5, 6, 1]
for index in list1:
  if index in list2:
    print("True")
    break

True

---
###Exercise 99
The following list of hashtags is given:


```
hashtags = ['holiday', 'sport', 'fit', None, 'fashion']
```

Check if all objects in the list are of str type. If so, print True, otherwise print False. Use the break statement in your solution.



Expected result:


```
False
```
***solution:***

In [158]:
#Method I

hashtags = ['holiday', 'sport', 'fit', None, 'fashion']
result = True

for obj in hashtags:
  if obj is not type(str):
    result = False
    break

print(result)

# Method II

hashtags = ['holiday', 'sport', 'fit', None, 'fashion']
result = True
 
for hashtag in hashtags:
    if not isinstance(hashtag, str):
        result = False
        break
    
print(result)

False
False

---
### Exercise 100
Write a program that checks if the given number is a prime number (use the break statement):


```
number = 13
```

Print one of the following to the console depends on the result:


```
13 - prime number
13 - not a prime number
```

Expected result:


```
13 - prime number
```
***solution:***

In [159]:
number = 13
 
if number > 1:
    for i in range(2, number):
        if number % i == 0:
            print(f'{number} - not a prime number')
            break
    else:
        print(f'{number} - prime number')
else:
    print(f'{number} - not a prime number')

13 - prime number

---
## continue statement

---
###Exercise 101
The list of companies from the WIG.GAMES index is given with the closing price and currency:


```
gaming = {
    '11B': [362.5, 'PLN'],
    'CDR': [74.25, 'USD'],
    'CIG': [0.85, 'PLN'],
    'PLW': [79.5, 'USD'],
    'TEN': [300.0, 'PLN']
}
```

Using the continue statement, create a for loop that will change the closing price from USD to PLN in this dictionary. Take USDPLN = 4.0.

In response, print the gaming dictionary to the console.



Expected result:


```
{'11B': [362.5, 'PLN'], 'CDR': [297.0, 'PLN'], 'CIG': [0.85, 'PLN'], 'PLW': [318.0, 'PLN'], 'TEN': [300.0, 'PLN']}
```
***solution:***

In [165]:
gaming = {
    '11B': [362.5, 'PLN'],
    'CDR': [74.25, 'USD'],
    'CIG': [0.85, 'PLN'],
    'PLW': [79.5, 'USD'],
    'TEN': [300.0, 'PLN']
}

USDPLN = 4.0

for item, value in gaming.items():
  if value[1] is 'PLN':
    continue
  else:
    value[0] = value[0] * 4
    value[1] = 'PLN'
    
print(gaming)

{'11B': [362.5, 'PLN'], 'CDR': [297.0, 'PLN'], 'CIG': [0.85, 'PLN'], 'PLW': [318.0, 'PLN'], 'TEN': [300.0, 'PLN']}

---
###Exercise 102
The list of names is given (one is missing):


```
names = ['Jack', 'Leon', 'Alice', None, 'Bob']
```

Using the continue statement, print only the correct names to the console as shown below.



Expected result:


```
Jack
Leon
Alice
Bob
```

In [176]:
# Method I

names = ['Jack', 'Leon', 'Alice', None, 'Bob']

for name in names:
  if not isinstance(name,str):
    continue
  print(name) 

# Method II

names = ['Jack', 'Leon', 'Alice', None, 'Bob']
 
for name in names:
    if name is None:
        continue
    print(name)

Jack
Leon
Alice
Bob

---
## while loop

---
### Exercise 103
Write a program that prints to the console the first ten prime numbers separated by a comma.



Tip: Use a while loop with break statement.



Expected result:


```
2,3,5,7,11,13,17,19,23,29
```
***solution:***

3,4,4,5,5,5,6,6,6,6

---
### Exercise 104
Using the while loop, calculate how many years you have to wait for the return on the investment described below to at least double your money (we only take into account full periods).



Description:


```
n - number of periods (in years)
pv - present value
r - interest rate (annual)
fv - future value
```

Investment parameters:


```
pv = 1000
r = 0.04
```

Print result to the console as shown below.



Expected result:


```
Future value: 2025.82 USD. Number of periods: 18 years
```
***solution:***

---
### Exercise 105
Use the stochastic gradient descent algorithm to find the minimum of the loss function given by the formula: 

The derivative of function L: 
![image.png]()


Algorithm:



1. We start from the starting point, let's take:


```
w_0 = -1
```

2. We define in advance the maximum number of iterations:


```
max_iters = 10000 
```

3. We define a variable that will help us control the size of the step towards the minimum, let's set this value to 1:


```
previous_step_size = 1
```

4. We define the learning rate:


```
learning_rate = 0.01
```

5. We define the precision that is enough to find the minimum:


```
precision = 0.000001
```

6. We define the derivative of a function:


```
derivative = lambda w: 2 * w - 4
```

To find the minimum of the L function, move along the opposite direction to the direction of the gradient by updating the value w_0 as follows:


```
w_0 = w_0 - learning_rate * derivative(w_prev)
```

where w_prev is the point from the previous iteration. For the first point is just w_0.



Create a while loop that will stop the algorithm when the minimum is found with the precision we assumed or if we exceed the maximum number of iterations. Print the result to the console as shown below.



Tip: Conditions in a while loop:


```
while previous_step_size > precision and iters < max_iters:
```

Expected result:


```
A local minimum in point: 2.00
```
***solition:***

---
### Exercise 106
Write a program that checks if the given element (target) is in the sorted list (numbers). We have given:


```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target = 7
```

Algorithm:



1. We set the start and end index as well as the flag = None.

2. As long as the start index is not greater than the end index, select the middle index (mid) of the list (arithmetic average of the start and end index -> remember to convert the result with the int() function). If the start index is greater than the end index, we end the algorithm.

3. Check if the element for the index calculated in this way is our target. If so, we set the flag to True and terminate the algorithm. If not -> step 4.

4. We check if the element of the list for the index mid is less than the target. If so, we increase the start index by 1. If not, we reduce the end index by 1 and go to step 2.

After while loop, depending on the value of the flag, print to the console:

'Found' or 'Not found'.



Expected result:


```
Found
```
***solution:***

---
## Exception handling

---
###Exercise 107
Two variables defined below are given:


```
sum = 3000
counter = 0
```

We want to divide the variable sum by the counter variable. Using the `try... except...` clause handle the ZeroDivisionError. If the division is done correctly, print the result to the console, otherwise print to the console the following message:


```
'Division by zero.'
```
***solution:***

---
### Exercise 108
Sometimes we need to open a file without knowing if such a file exists. When file doesn't exist the FileNotFoundError is raised.

Using the `try... except...` clause, handle with this problem.



Use this code snippet to read the content of the file:


```
with open('file.txt', 'r') as file:
    content = file.read()
```

Try to open file.txt using the above code. If the file.txt does not exist, print to the console following message:


```
'File not found.'
```
***solution:***

---
### Exercise 109
The following dictionary is given:


```
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}
```

Try printing the value for the key:


```
user_id = '004'
```

In case of a KeyError, print to the console the following message:


```
'The 004 key is not in the dictionary. Adding key ...'
```

Then add this key to the dictionary with the value None and print the users dictionary to the console.



Expected result:


```
The 004 key is not in the dictionary. Adding key ...
{'001': 'Mark', '002': 'Monica', '003': 'Jacob', '004': None}
```
***solution:***