# Intro ðŸ”–ðŸ“–
Welcome to the DATA STRUCTURES section! â°ðŸ¬ðŸŒ„
---
---
### this page is about Sets, Tuples, Lists and Dictionaries 

# Page 2

# Sets

---
###Exercise 45
The following set is given:

`subjects = {'mathematics', 'biology'}`

Using the appropriate method add `'english'` to this set. In response print subjects set to the console.

**Expected result:**

`{'biology', 'mathematics', 'english'}`

Note: Remember that the set is an unordered data structure. You may get a different order of items than the expected result.

***solution:***

In [ ]:
subjects = {'mathematics', 'biology'}

subjects.add('english')
print(subjects)

{'biology', 'mathematics', 'english'}

---
###Exercise 46
The following text is given:



`text = 'Programming in python.'`


Follow the next steps:





> 1.   Change all letters to lowercase.
> 2.   Delete spaces and period.
> 3. Create a set consisting of all letters in the text and assign to letters variable
> 4.Using the appropriate method for sets, remove all vowels from letters set:



`vowels = {'a', 'e', 'i', 'o', 'u'}`
  

> 5. Print the number of items in the letters set as shown below.



**Expected result:**



`Number of items: 8`

***solution:***

In [ ]:
import re
text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}

text =text.lower()
letters  = set(re.sub("\W+","",text))


set_letters = letters.difference(vowels)
print(f'Number of items: {len(set_letters)}')

Number of items: 8

---
###Exercise 47
In mathematics, the symmetric difference of two sets is the set of elements which are in either of the sets, but not in their intersection.

Two following sets are given:


```
A = {2, 4, 6, 8}
B = {4, 10}
```

Using the appropriate method, extract the symmetrical difference of sets A and B and print the result to the console as shown below.



Expected result:


```
Symmetric difference: {2, 6, 8, 10}
```
***solution:***

In [ ]:
A = {2, 4, 6, 8}
B = {4, 10}

c = A.symmetric_difference(B)

print(f'Symmetric difference: {c}')

Symmetric difference: {2, 6, 8, 10}

---
###Exercise 48
We have two sets of customer IDs:


```
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
```

Each set stores the id of the customers who made the purchase based on the specific ad. We have two ads. Each customer can use the offer only twice in campaign. Choose the ID of the customers to whom you can send another ad (or ids that only appeared once in both sets).



**Expected result:**


```
Selected ID: { '007', '001'}
```

***Note:*** Remember that the set is an unordered data structure. You may get a different order of items than the expected result. You don't have to worry about it.

***solution:***

In [ ]:
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
selected = ad1_id.symmetric_difference(ad2_id)
print(f'Selected ID: {selected}')

Selected ID: {'007', '001'}

---
###Exercise 49
Two customer ID sets are given. The first one tells you whether a person clicked on the banner ad. Second, whether the person purchased the product:


```
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
```

Return the ID of those customers who clicked on the ad and bought the product.



**Expected result:**


```
Customer ID: { '9002', '9005'}
```

***Note: ***Remember that the set is an unordered data structure. You may get a different order of items than the expected result. You don't have to worry about it.

***solution:***

In [ ]:
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
selected = is_clicked.intersection(is_bought)
print(f'Customer ID: {selected}')

Customer ID: {'9002', '9005'}

# Tuples

---
###Exercise 50
Two following tuples are given:


```
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
```

Combine these tuples into one as shown below and print the result to the console.



Expected result:


```
('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')
```
***solution:***

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')

dj = dji1 + dji2
print(dj)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

---
###Exercise 51
The following tuples are given:


```
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
```

Nest these tuples into one tuple as shown below and print the result to the console.



**Expected result:**


```
(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))
```
***solution:***

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
together = dji1 , dji2
print(together)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

---
###Exercise 52
Tuples are immutable. The following tuple is given:


```
members = (('Kate', 23), ('Tom', 19))
```

Insert a tuple `('John', 26)` between Kate and Tom as shown below. Print the result to the console.



**Tip:** You have to create a new tuple.



**Expected result:**


```
(('Kate', 23), ('John', 26), ('Tom', 19))
```

***solution:***

In [ ]:
members = (('Kate', 23), ('Tom', 19))
new_member = (('John', 26))
members_new = (members[0]) , new_member , (members[1])
print(members_new)

(('Kate', 23), ('John', 26), ('Tom', 19))

---
###Exercise 53
The following tuple is given:


```
default = ('YES', 'NO', 'NO', 'YES', 'NO')
```

Using the appropriate method return the number of occurrences of the string 'YES' and print the result to the console as shown below.



**Expected result:**


```
Number of occurrences: 2
```

***solution:***

In [ ]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
count_yes = default.count("YES")
print(f'Number of occurrences: {count_yes}')

Number of occurrences: 2

---
###Exercise 54
Sort the given tuple (from A to Z):


```
names = ('Monica', 'Tom', 'John', 'Michael')
```

Print the sorted tuple to the console as shown below.



**Expected result:**


```
('John', 'Michael', 'Monica', 'Tom')
```

***solution:***

In [ ]:
names = ('Monica', 'Tom', 'John', 'Michael')
print(tuple(sorted(names)))

('John', 'Michael', 'Monica', 'Tom')

---
###Exercise 55
The following tuple is given (name, age):


```
info = (('Monica', 19), ('Tom', 21), ('John', 18))
```

Sort this tuple:

* ascending by age




* descending by age

And print the result to the console as shown below.



**Expected result:**


```
Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))
```
***solution:***

In [ ]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
print(f'Ascending: {tuple((sorted(info)))}')
print(f'Descending: {tuple((sorted(info,reverse=True)))}')

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

---
###Exercise 56
The following tuple is given:


```
stocks = (
    ('Apple Inc', ('AAPL.US', 310)),
    ('Microsoft Corp', ('MSFT.US', 184)),
)
```

Extract a ticker for Apple and print the result to the console.



Expected result:


```
AAPL.US
```
***solution:***

In [ ]:
stocks = (
    ('Apple Inc', ('AAPL.US', 310)),
    ('Microsoft Corp', ('MSFT.US', 184)),
)

print(stocks[0][1][0])

AAPL.US

# Lists

---
###Exercise 57
To the given list:


```
cities = ['Los Angeles', 'New York', 'Chicago']
```

append the city: 'Houston' and print the list to the console.



**Expected result:**


```
['Los Angeles', 'New York', 'Chicago', 'Houston']
```
***solution:***

---
###Exercise 58
The following list is given:


```
idx = ['001', '002', '001', '003', '001']
```

Using the appropriate method count the occurrences of '001'. Print the result to the console as shown below.



**Expected result:**

```

Number of occurrences: 3
```
***solution:***

---
###Exercise 59
The following text is given:



text = 'Python programming'


Standardize the text (replace uppercase letters with lowercase). Then create a list of unique characters in the text. Remove the space from this list and sort from a to z. After all print the list to the console.



***Tip:*** You can use a set to generate unique characters.

**Expected result:**


```
['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']
```

---
###Exercise 59
The following text is given:


```
text = 'Python programming'
```

Standardize the text (replace uppercase letters with lowercase). Then create a list of unique characters in the text. Remove the space from this list and sort from a to z. After all print the list to the console.



Tip: You can use a set to generate unique characters.



Expected result:


```
['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']
```
***solution:***

---
###Exercise 60
The following list is given:


```
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
```

Add the file 'phone.jpg' to this list at the beginning. Then delete the file 'ball.png'. In response, print the filenames list to the console.



**Expected result:**


```
['phone.jpg', 'view.jpg', 'bear.jpg']
```

***solution:***

---
###Exercise 61
The following list represents order ids for a given day:


```
day1 = ['3984', '9042', '4829', '2380']
```

Using the appropriate method, extend this list to the next day:


```
day2 = ['4231', '5234', '1345', '2455']
```

Print the result to the console.



Expected result:


```
['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']
```
***solution:***

---
###Exercise 62
The following tuple is given:


```
techs = ('python', 'java', 'sql', 'aws')
```

Sort this tuple from a to z and print it to the console.



Tip: Tuples are immutable. You have to create a new one.



**Expected result:**


```
('aws', 'java', 'python', 'sql')
```
***solution:***

---
###Exercise 63
The following list is given:


```
hashtags = ['summer', 'time', 'vibes']
```

Using the appropriate method, combine the elements of the list with the '#' character. Also add this sign to the beginning of the text and print the result to the console as shown below.



Expected result:


```
'#summer#time#vibes'
```

***solution:***

# Dictionaries

---
###Exercise 64
Create a dictionary from the following pairs (key, value):


```
'USA': 'Washington'
'Germany': 'Berlin'
'Austria': 'Vienna'
```

and print it to the console.



**Expected result:**


```
{'USA': 'Washington', 'Germany': 'Berlin', 'Austria': 'Vienna'}
```

***solution:***

---
###Exercise 65
The following dictionary is given:


```
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
```

Use the appropriate method to extract all keys from the capitals dictionary and print to the console.



Expected result:


```
dict_keys(['USA', 'Germany', 'Austria'])
```

***solution:***

---
###Exercise 66
The following dictionary is given:


```
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
```

Use the appropriate method to extract all values from the capitals dictionary and print to the console.

**Expected result:**


```
dict_values(['Washington', 'Berlin', 'Vienna'])
```

***solution:***

---
###Exercise 67
The following dictionary is given:


```
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
```

Using the appropriate method, extract the list containing tuple objects (key, value) from the capitals dictionary and print to the console as shown below.



Expected result:


```
dict_items([('USA', 'Washington'), ('Germany', 'Berlin'), ('Austria', 'Vienna')])
```
***solution:***

---
###Exercise 68
The following dictionary is given:


```
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
```

Using the dict.get() method, extract the value for the key `'Austria'` and print it to the console.



**Expected result:**


```
Vienna
```

***solution:***

---
###Exercise 69
The following dictionary is given:


```
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
```

Extract the value for the key `'AAPL.US'` and print it to the console.



**Expected result:**


```
{'Apple Inc': 310}
```
***solution:***

---
###Exercise 70
The following dictionary is given:


```
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
```

Get the price for Microsoft (value for the 'Microsoft Corp' key) and print it to the console.



**Expected result:**


```
184
```
***solution:***

---
###Exercise 71
The following dictionary is given:


```
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
```

Update the price for Microsoft to 190 and print the value for the `'MSFT.US'` key to the console.



**Expected result:**


```
{'Microsoft Corp': 190}
```

***solution:***

---
###Exercise 72
The following dictionary is given:


```
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
```

Add a fourth pair to this dictionary with the key `'V.US'` and the value: `{'Visa Inc': 185}`. Print the values of the stocks dictionary to the console.



Expected result:


```
dict_values([{'Microsoft Corp': 184}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])
```

---
###Exercise 73
A list of tickers from the Dow Jones index is given:


```
tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US',
    'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US',
    'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]
```

Transform this list into a list of two-element tuple objects (index, ticker) and print it to the console.



Formatted result for better view:


```
[(0, 'AAPL.US'),
 (1, 'AXP.US'),
 (2, 'BA.US'),
 (3, 'CAT.US'),
 (4, 'CSCO.US'),
 (5, 'CVX.US'),
 (6, 'DIS.US'),
 (7, 'DOW.US'),
 (8, 'GS.US'),
 (9, 'HD.US'),
 (10, 'IBM.US'),
 (11, 'INTC.US')]
```

Expected result:


```
[(0, 'AAPL.US'), (1, 'AXP.US'), (2, 'BA.US'), (3, 'CAT.US'), (4, 'CSCO.US'), (5, 'CVX.US'), (6, 'DIS.US'), (7, 'DOW.US'), (8, 'GS.US'), (9, 'HD.US'), (10, 'IBM.US'), (11, 'INTC.US')]
```

***solution:***

---
###Exercise 74
A list of tickers from the Dow Jones index is given:


```
tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US',
    'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US',
    'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]
```

Transform this list into a dictionary (index, ticker) and print it to the console.



Formatted result for better view:


```
{0: 'AAPL.US',
 1: 'AXP.US',
 2: 'BA.US',
 3: 'CAT.US',
 4: 'CSCO.US',
 5: 'CVX.US',
 6: 'DIS.US',
 7: 'DOW.US',
 8: 'GS.US',
 9: 'HD.US',
 10: 'IBM.US',
 11: 'INTC.US'}
```

Expected result:


```
{0: 'AAPL.US', 1: 'AXP.US', 2: 'BA.US', 3: 'CAT.US', 4: 'CSCO.US', 5: 'CVX.US', 6: 'DIS.US', 7: 'DOW.US', 8: 'GS.US', 9: 'HD.US', 10: 'IBM.US', 11: 'INTC.US'}
```
***solution:***

---
###Exercise 75
The following dictionary is given:


```
project_ids = {
    '01': 'open', 
    '03': 'in progress',
    '05': 'in progress',
    '04': 'completed'
}
```

Extract a list of unique values (sorted alphabetically) from the project_ids dictionary and print it to the console.



Expected result:


```
['completed', 'in progress', 'open']
```
***solution:***

---
###Exercise 76
The following dictionary is given:


```
stats = {'site': 'e-smartdata.org', 'traffic': 100, 'type': 'organic'}

```
Delete the 'traffic' key pair from this dictionary and print it to the console.



Expected result:


```
{'site': 'e-smartdata.org', 'type': 'organic'}
```
***solution:***

---
###Exercise 77
The following dictionary is given:


```
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}
```

Try to print value for `key '004'`.



In this exercise use the `dict.get())`. When the key is not in the dictionary set default value to the string 'indefinite'.



Expected result:


```
'indefinite'
```
***solution:***